body {
    background: rgb(60, 177, 89);
    background: linear-gradient(90deg, rgba(60, 177, 89, 1) 9%, rgba(28, 213, 170, 1) 31%, rgba(31, 232, 186, 1) 73%, rgba(62, 201, 217, 1) 89%);
}

label {
    text-shadow: 2px 2px 5px orange;
}

input {
    height: 20px;
    margin-bottom: 8px;
    border-radius: 6px;
    border-width: 5px;
    border-style: outset;
    border-color: lightcoral;
}

button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 12.5px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}