body {
    background: rgb(60, 177, 89);
    background: linear-gradient(90deg, rgba(60, 177, 89, 1) 9%, rgba(28, 213, 170, 1) 31%, rgba(31, 232, 186, 1) 73%, rgba(62, 201, 217, 1) 89%);
}

input {
    height: 20px;
    margin-bottom: 8px;
    border-radius: 6px;
    border-width: 5px;
    border-style: outset;
    border-color: lightcoral;
}

button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    opacity: 1
}